* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg-color: #f5f5f5;
  --main-bg-color: #ffffff;
  --title-font-color: #ffffff;
  --product-name-color: #000000;
  --primary-hr-color: #d2d2d2;
  --secondary-hr-color: #393333;
  --primary-width: 600px;
  --main-font: "Smythe", system-ui;
  --main-font-color: #000000;
  --btn-font: "Inter", sans-serif;
  --item-list-width: 508px;
  --main-hr-color: #d2d2d2;
  --secondary-hr-color: #393333;
}

body {
  background: var(--primary-bg-color);
  color: var(--main-font-color);
  font-family: var(--main-font);
}

header {
  background-image: url("./images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: var(--primary-width);
  height: 167px;
  margin: 0 auto;
}

main {
  height: 994px;
  background: var(--main-bg-color);
  width: var(--primary-width);
  margin: 0 auto;
}

/* web title layout */
.title-layout {
  padding: 40px 0 0 50px;
}

/* typography */
h1,
h3 {
  color: var(--title-font-color);
}

h1 {
  font-size: 39px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22.42px;
}

p {
  font-size: 16px;
  opacity: 0.72;
}

.order-price {
  color: var(--main-font-color);
  opacity: 1;
}

/* images */
img {
  width: 70px;
  height: 89px;
  line-height: 98.4px;
}

/* ul */
ul {
  list-style-type: none;
}

/* button */
button {
  width: 50px;
  height: 50px;
  border: 2px solid #dedede;
  border-radius: 50%;
  background: var(--main-bg-color);
  font-family: var(--btn-font);
  font-size: 32px;
  font-weight: 200;
  cursor: pointer;
}

button:hover {
  background: #f3f4f6;
  color: #111827;
}

/* content */
.menu-container,
.order-container {
  max-width: var(--item-list-width);
  margin: 0 auto;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10px;
}

.item-list {
  display: flex;
}

/* list */

ul {
  margin-left: 20px;
}

li {
  line-height: 32px;
}

/* hr */
.main-hr {
  border: none;
  height: 1px;
  width: 100%;
  background: var(--main-hr-color);
}

.secondary-hr {
  border: none;
  height: 2px;
  width: 100%;
  background: var(--secondary-hr-color);
  margin: 20px 0 20px 0;
}

/* order */
.order-container {
  padding: 30px 0;
}

.order-title {
  padding: 30px 0 0 0;
  text-align: center;
  color: #000000;
}

.item {
  display: flex;
  justify-content: space-between;
}

.item h2 {
  line-height: 40px;
}

span {
  margin-right: 50px;
}
